
.h-card {
    margin-top: 8px;
    background-color: 'white';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.c-container {
    display: flex;

}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}